.vscode/
runs/
weights/

data/video/*
data/test_audio/feature
data/test_audio/reenact_delta
data/test_audio/reenact
data/test_audio/images
data/test_audio/comp
data/test_audio/result.mp4

*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc

*/__pycache__
*/**/__pycache__
*/**/**/__pycache__
*/**/**/**/__pycache__

renderer/data/
renderer/kernels/build/
renderer/kernels/dist/
renderer/kernels/rasterize_triangles_cpp.egg-info/
renderer/kernels/rasterize_triangles_cpp.*.so

vendor/ATVGnet/model/*
